.bg{
    background: url('../images/contact_img.jpg') no-repeat;
    width: 100%;
    height: 90vh;
}

.form-container{
    border: 1px solid #ffffff;
    padding: 60px 50px;
    margin-top: 5vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.loghead1{
    text-align: center;
    color: #000000;
    font-size: xx-large;
}